[submodule "cxx_serial_support"]
	path = cxx-api/serial_support
	url = https://github.com/wjwwood/serial.git
[submodule "cxx_gamepad_support"]
	path = cxx-gamepad-app/gamepad_support
	url = https://github.com/AJIOB/libstem_gamepad.git
[submodule "cxx_libcrc"]
	path = cxx-api/libcrc
	url = https://github.com/lammertb/libcrc.git
